.title {
    margin-top: 20px;

    text-align: center;
}

.submit_title {
    margin-top: 10px;

    text-align: center;
}

#teddy1, #teddy2 {
    display: inline-block; 
    vertical-align: middle;

    width: 200px;            
    height: auto;
}

#red_teddy {
    position: fixed;
    bottom: 3px;
    right: 3px;
    
    width: 200px;   
    height: auto;
    opacity: 0.9; 
}

#h2 h1{
    color:color-mix(in hsl shorter hue, color percentage, color percentage);
    
    font-size: 50px;
    font-family: fantasy;
}

body {
    background-color:#FBF9D1;
}

h1 {
    color:#9A3F3F;
    letter-spacing: 2px;   

    display: inline-block;  
    vertical-align: middle;  

    text-align: center;
    text-shadow: 10px 10px 10px #E6CFA9;
    text-transform: uppercase; 
   
    font-size: 36px;           
    font-family: monospace;
    font-weight:bold;   
}

form {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}

fieldset {
    width: 30%;
    box-sizing: border-box;
}

legend {
    padding: 5px 10px;

    letter-spacing: 1px;
    
    text-transform: uppercase;
    text-align: center;

    font-size: 25px;
    font-family: fantasy;
    font-weight: bold;
}

fieldset:hover {
    background-color: #f3e6cc;
    border-color: #9A3F3F;
}

input:hover {
    background-color:white;
}

input:focus {
    background-color: #fffbe6;
    border-color: #9A3F3F;

    outline: none;
}

input[type="submit"]:hover {
    color:#f3e6cc;
    background-color: #C1856D;

    outline: none;
}

input[type="submit"] {
    color: #FBF9D1;
    background-color: #9A3F3F;

    padding: 8px 16px;

    border-radius: 10px;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

fieldset, label, input, option { 
    color: #9A3F3F;
    background-color: #E6CFA9;

    border-radius: 20px;
    border-color: #C1856D;

    font-variant: small-caps;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}